/*====================================================
                LOGIN OR REGISTER
======================================================*/

#login-modal .modal-dialog {
    margin-top: 170px;
    width: 400px;
}

#login-modal label {
    color: #888;
    margin-bottom: 0;
}

#login-modal input[type=text],
input[type=password] {
    margin-bottom: 15px;
    border-radius: 0;
}

.modal-backdrop.in {
    filter: alpha(opacity=10);
    opacity: .8;
}

.modal-content {
    /*background-color: #ececec;*/
    border: 3px solid #2196f3;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 25px 45px;
}

.modal-footer {
    padding: 15px 45px 15px 45px;
    text-align: left;
    width: 100%;
    border-top: 0px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: center;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    border-top: 1px solid #e9ecef;
}

.checkbox {
    margin-bottom: 0px;
}


.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover,
.btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

@media (max-width: 575px) {
    #login-modal .modal-dialog {
        margin-top: 100px;
        width: 300px;
        margin: 100px auto;
    }
}
