/*====================================================
                       HOME
======================================================*/
@import url('https://fonts.googleapis.com/css?family=Cabin');

.carousel-fade {
    height: 90vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.5) url('/img/hust.jpg');
    background-size: cover;
    background-blend-mode: overlay;
}

.carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-fade {
    position: relative;
    height: 90vh;
}

.hero {
    position: absolute;
    top: 45%;
    left: 50%;
    background: rgba(0, 0, 0, 0.7);
    border: 5px solid #fff;
    padding: 40px;
    z-index: 3;
    color: #c0c0c0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
    font-size: 3.0em;
    color: #fff;
    font-weight: 700;
    width: 600px;
    margin: 0;
    padding: 0;
    opacity: 1;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.hero h1 span a {
    color: #2196f3;
    text-decoration: none;
}

.hero h3 {
    font-size: 1em;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero button {
    margin: 10px 0;
}

.carousel-fade .carousel-inner .carousel-item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.carousel-fade .carousel-inner .carousel-item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
}

.carousel-fade .carousel-inner .carousel-item {
    height: 100vh;
}

@media (max-width: 850px){
    .hero{
        top: 50%;
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .hero{
        top: 55%;
    }
    .hero h1 {
        font-size: 2.5em;
        color: #fff;
        font-weight: 700;
        width: 400px;
        margin: 0;
        padding: 0;
        opacity: 1;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    .hero h3 {
        font-size: 1em;
        color: #fff;
        letter-spacing: 2px;
        line-height: 25px;
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {
    .hero {
        position: absolute;
        top: 50%;
        padding: 20px 0px;
    }
    .hero h1 {
        font-size: 1.9em;
        color: #fff;
        font-weight: 700;
        width: 370px;
        margin: 0;
        padding: 0;
        opacity: 1;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    .hero h3 {
        font-size: .9em;
        color: #fff;
        letter-spacing: 2px;
        line-height: 25px;
        margin-bottom: 15px;
    }
}

@media (max-width: 420px) {
    .hero {
        position: absolute;
        top: 45%;
        padding: 20px 0;
        border: 3px solid #fff;
    }
    .hero h1 {
        font-size: 1.7em;
        color: #fff;
        font-weight: 700;
        width: 295px;
        margin: 0;
        padding: 0;
        opacity: 1;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }
    .hero h3 {
        font-size: .8em;
        color: #fff;
        letter-spacing: 2px;
        line-height: 25px;
        margin-bottom: 15px;
    }
}