
#team-p1{
	padding:100px 0 0 0;
}

#team-p1 .team-p1-cont{
	padding:20px;
}

.team-p2 .team-p2-cont{
	padding-bottom: 20px;
	box-shadow: 3px 3px 10px 1px rgba(158, 158, 158, 0.68);
	width: 260px;
	height: 260px;
	margin: 0 auto; 
}

#team-p1 .team-p1-cont h5,
.team-p2 .team-p2-cont h5{
	padding-top: 20px;
	line-height: 25px;
	color:#777;
	padding-left: 10px;
}

#team-p1 .team-p1-cont h6,
.team-p2 .team-p2-cont h6{ 
	color:#2196f3;
	padding-left: 10px;
}

#team-p1 .team-p1-cont ul,
.team-p2 .team-p2-cont ul{
	float: right;
	margin-top: -60px;
	padding-right: 20px;
}

#team-p1 .team-p1-cont ul li>a>i,
.team-p2 .team-p2-cont ul li>a>i{
	padding: 2px;
	height: 30px;
	width: 30px;
	margin-top: 20px;
}

@media (max-width: 767px) {
	.team-p1-cont img{
		width: 100%;
	}

	.team-p2 .team-p2-cont{
		margin-top: 30px;
	}
}

@media(max-width: 575px){
	#comp-offer{
		margin-left: -100px; 
	}
	#comp-offer.team-p2 .col-sm-6{
		margin: 0 auto;
	}
}

/*====================================================
                   CONTACT
======================================================*/

.contact-h-bg {
    background-image: url(../../img/contact-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-h-cont {
    margin: 60px 0;
    padding: 50px;
    background: rgba(33, 150, 243, 0.65);
}

.contact-h-cont input.form-control,
.contact-h-cont textarea.form-control {
    border-radius: 0px;
}

.contact-h-cont button {
    background: #fff;
    color: #2196f3;
    margin-top: 10px;
    text-align: center;
}

.contact-h-cont button:hover {
    background: #2196f3;
    color: #fff;
}